<h2>Edit contact</h2>
<form name="form" class="contact-form" novalidate>
  <table>
    <tr>
      <td>First name</td>
      <td><input ng-model="edit.contact.first_name" name="cName" required></td>
      <td><span ng-show="form.cName.$error.required">* Required field</span></td>
    </tr>
    <tr>
      <td>Last name</td>
      <td><input ng-model="edit.contact.last_name" name="cSurname" required></td>
      <td><span ng-show="form.cSurname.$error.required">* Required field</span></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
        <input type="email" ng-model="edit.contact.email" name="cEmail">
      </td>
      <td>
        <span ng-show="form.cEmail.$error.email">This is not a valid email.</span>
      </td>
    </tr>
    <tr>
      <td>Landline</td>
      <td>
        <input ng-model="edit.contact.phone_number" name="phoneNumber" phone-number>
      </td>
      <td>
        <span ng-show="form.phoneNumber.$error.phoneNumber">* Value must starts with "+" and contains 11 numbers</span>
      </td>
    </tr>
    <tr>
      <td>Phone number</td>
      <td>
        <input ng-model="edit.contact.cellphone_number" name="cellPhoneNumber" phone-number>
      </td>
      <td>
        <span ng-show="form.cellPhoneNumber.$error.phoneNumber">* Value must starts with "+" and contains 11 numbers</span>
      </td>
    </tr>
    <tr>
      <td>Jabber</td>
      <td><input ng-model="edit.contact.jabber_id"></td>
      <td></td>
    </tr>
    <tr>
      <td>Date of birth</td>
      <td>
        <input ng-model="edit.contact.birh_date">
      </td>
      <td></td>
    </tr>
  </table>

  <button class="btn" ng-click="edit.updateContact(edit.contact)" name="Submit" ng-disabled="form.$invalid">Save</button>
  <span id="error_msg" ng-show="form.$invalid">Has errors</span>
</form>