<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/main.css">

    <title>Angular app</title>

  </head>
  <body ng-app="app">
    <div class="container">
      <h1>42TestAngular</h1>
      <nav>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#/main">Main</a></li>
          <li><a href="#/contacts">Contacts</a></li>
        </ul>
      </nav>

      <div ng-view></div>

    </div>

    <script src="{{ STATIC_URL }}lib/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}lib/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}lib/angular.min.js"></script>
    <script src="{{ STATIC_URL }}lib/angular-route.min.js"></script>

    <script src="{{ STATIC_URL }}app/js/nav.js"></script>
    <script src="{{ STATIC_URL }}app/js/app.js"></script>
    <script src="{{ STATIC_URL }}app/js/app.route-config.js"></script>
    <script src="{{ STATIC_URL }}app/js/controllers/InfoController.js"></script>
    <script src="{{ STATIC_URL }}app/js/controllers/ContactsController.js"></script>
    <script src="{{ STATIC_URL }}app/js/controllers/EditContactController.js"></script>
    <script src="{{ STATIC_URL }}app/js/directives/phoneNumberDirective.js"></script>
    <script src="{{ STATIC_URL }}app/js/services/contactsService.js"></script>
    <script src="{{ STATIC_URL }}app/js/modules/appFiltersModule.js"></script>
    <script src="{{ STATIC_URL }}app/js/filters/paginationFilter.js"></script>
    <script src="{{ STATIC_URL }}app/js/filters/countrycodeFilter.js"></script>

  </body>
</html>
